body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
th , td{
    padding: 30px 40px;
    font-size: 30px;
}
